In [5]:
name = "Andy"
num = 5.4
num1 = 5
num2, num3, num4 = 2,3,4

print(name , num , num1)
print (num2, num3, num4)

Andy 5.4 5
2 3 4

# Data Types: examples

In [11]:
#List
list1 = [1, 2, "Hello World", "Hameenlinna", 5]
print(type(list1))

#Create a variable and assign your name to it
#check the data type
name = "Andy"
print(type(name))

<class 'list'>
<class 'str'>

# Number

In [16]:
# converting a string to an integer
int("5")

# converting a floating-point number to an integer
int(5.5)

# lets check if 5.1 is an integer
isinstance(5.1, int)

# checking an inequality
(2 ** 3) < (2 ** 4)

True

# Boolean

In [23]:
name = "Pekka space"
name.isalnum() # to check if all characters are numbers, space is not a string or number -> false
#islower()
name.islower() # to check if string contains all lower case letters
name.isalpha()# to check if all characters are strings

False

# Non-type : example
<!-- The NoneType has exactly one object and is used to represent null which means nothing. -->

In [27]:
larget_number = None

for number in [1,2,5,12]:
    if number > 10:
        larget_number = number
        print("The large number is: " , larget_number)
        break
    if larget_number is None:
        print("The list did not contains any values larger than 10")

The list did not contains any values larger than 10
The list did not contains any values larger than 10
The list did not contains any values larger than 10
The large number is:  12

# String

In [28]:
print("this is string")
mystring = "Hello World"
print (mystring)
#String contains a sequence of characters,
# it is possible to access individual characters
print (mystring[0]) #prints the first character
print (mystring[0:3])
print (mystring[2:4]) #prints the third and 4th character
print (mystring[2:]) #prints third character onward
print (mystring * 2) #prints two times, repitition
print (mystring + " & deepak kc") #adds my string to deepak kc

this is string
Hello World
H
Hel
ll
llo World
Hello WorldHello World
Hello World & deepak kc

In [29]:
print("Hello World","This is funny", mystring)

Hello World This is funny Hello World

# List
* It is a type of Python object that allows us to store a sequence of other objects
* A list object is created by using square-brackets, and its contents are separated by commas: [item1, item2, ..., itemN]
* Contents can be of different type of object.
* List is sequential in nature.
* Built in functions for list: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [39]:
#List example

list1 = [1, "Hello world", 2, 2.5, 4, "HAMK"]
print(list1)
print(list1[2:5])

#append: add an element (always) at the end of the list
list1.append("Student")
print(list1)

#insert
list1.insert(0,"Insert")
print(list1)

#Try to add something before HAMK
list1.insert(5,"Test1")
print(list1)

#extend
list1.extend([1,2,3,4,5,"Hello1"])
print(list1)


#remove
list1.remove(list1[7])
print(list1)

[1, 'Hello world', 2, 2.5, 4, 'HAMK']
[2, 2.5, 4]
[1, 'Hello world', 2, 2.5, 4, 'HAMK', 'Student']
['Insert', 1, 'Hello world', 2, 2.5, 4, 'HAMK', 'Student']
['Insert', 1, 'Hello world', 2, 2.5, 'Test1', 4, 'HAMK', 'Student']
['Insert', 1, 'Hello world', 2, 2.5, 'Test1', 4, 'Student']

In [41]:
#extend
list1.extend([1,2,3,4,5,"Hello1"])
print(list1)

['Insert', 1, 'Hello world', 2, 2.5, 'Test1', 4, 'Student', 1, 2, 3, 4, 5, 'Hello1', 1, 2, 3, 4, 5, 'Hello1']

# Tuples
* It is a built in sequence type and is very similar to list.
* Tuples are constructed using parenthesis.
* Unlike a list, once a tuple is formed, it cannot be changed.
* Tuples generally consume less memory than lists as a tuple will not change in size.
* https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [42]:
#tuples example
tup1 = ("name", 5, "HAMK", "Data Analysis")
print(tup1)

('name', 5, 'HAMK', 'Data Analysis')